@charset "UTF-8";


    h1{ 
        text-align: center;
        font-family: Arial;
        font-size: 40pt;
        color: blue;
        text-shadow: 2px 2px 20px rgb(0, 0, 0);

    }

    h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20pt;
        color: black;
        text-shadow: 2px 2px 20px black; 
    }

    p{
        color:darkmagenta;
        text-align: justify;
    }

    body{
background-color: rgb(211, 206, 199);

    }